*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;
    padding: 10px 0;
    background: hsla(240, 91%, 26%, 0.836);
}

header a {
    color: black;
}

.menu {
    gap: 15px;
    display: flex;
    justify-content: space-evenly;
}

.menu a:first-child {
   color: orange; 
}

header div:last-child {
    background: orange;
    padding: 5px;
    border-radius: 3px;
}

header div:last-child a{
    color: aliceblue;
}

.one {
    background-image: url('./images/Hakasalmen_huvila-Marit_Henriksson.jpg') !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.one-text {
    background: hsla(0, 2%, 17%, 0.74);
    padding: 5%;
    width: 70%;
}

.one-text h1 {
    display: flex;
    font-size: 3rem;
    color: antiquewhite;
    text-transform: capitalize;
    padding: 1.5rem 0;
}

.one-text div{
    background: white;
    font-size: larger;    
    display: flex;
    border-radius: 25px;
}

.one-text div input[type='text'] {
    border: none;
    width: 80%;
    padding: 5px;
    font-size: 20px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.one-text div button {
    background-color: rgba(29, 87, 132, 0.723);
    border: none;
    width: 20%;
    font-size: 20px;
    text-transform: capitalize;
    color: white;
    padding: 2px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

section {
    padding: 20px;
}

.two h2 {
    text-transform: capitalize;
}

.two .carousel {
    position: relative;
    /* width: 90%; */
    width: 100%;
    overflow: hidden;
}

.two .carousel .car-btn {
    position: absolute;
    z-index: 5;
    padding: 5px;
    border-radius: 100%;
    background: rgb(0, 0, 0, .2);
    border: none;
    top: 35%;
    color: rgba(245, 245, 220, .4);
    font-weight: bold;
    font-size: 2.5rem;
    transition: all 200ms ease-in;
}

.two .carousel .car-btn:hover {
    background: rgb(0, 0, 0, .5);
    color: rgba(245, 245, 220, .7);
}

.two .carousel .car-btn#next {
    right: 0;
}

.two .carousel .car-btn#prev {
    left: 0;
}

.two .slides {
    display: flex;
    padding: 10px 0;
    transition: transform .4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.two .slide{
    list-style: none;
    box-shadow: 0 5px 5px  gray;
    border-radius: 3px;
    padding: 5px;
    flex: 0 0 25%;
}

.two .img-div > img {
    width: 100%;
    border-radius: 5px 5px 0 0;
    height: 250px;
    transition: all 200ms ease;
}

.two .img-div {
    position: relative;
}

.two .opening, .two .price {
    position: absolute;
    z-index: 5;
}

.two .opening {
    top: 0;
}

.two .price {
    bottom: 0;
}

.two .slide .extra {
    padding: 10px;
    z-index: 5;
}

.two .icons {
    width: 20px;
    height: 20px;
}

.two .slide .btn {
    display: flex;
    justify-content: center;
    align-items: center;
}
