*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;
    padding: 10px 0;
    background: hsla(240, 91%, 26%, 0.836);
}

header a {
    color: black;
}

.menu {
    gap: 15px;
    display: flex;
    justify-content: space-evenly;
}

.menu a:first-child {
   color: orange; 
}

header div:last-child {
    background: orange;
    padding: 5px;
    border-radius: 3px;
}

header div:last-child a{
    color: aliceblue;
}

.one {
    background-image: url('./images/Hakasalmen_huvila-Marit_Henriksson.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.one-text {
    background: hsla(0, 2%, 17%, 0.74);
    padding: 5%;
    width: 70%;
}

.one-text h1 {
    display: flex;
    font-size: 3rem;
    color: antiquewhite;
    text-transform: capitalize;
    padding: 1.5rem 0;
}

.one-text div{
    background: white;
    font-size: larger;    
    display: flex;
    border-radius: 25px;
}

.one-text div input[type='text'] {
    border: none;
    width: 80%;
    padding: 5px;
    font-size: 20px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.one-text div button {
    background-color: rgba(29, 87, 132, 0.723);
    border: none;
    width: 20%;
    font-size: 20px;
    text-transform: capitalize;
    color: white;
    padding: 2px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

section {
    padding: 20px;
}

.two h2 {
    text-transform: capitalize;
}

.carousel-1 {
    display: flex;
}

.track img{
    width: 10px;
}
